<h2>
  JD Store 参赛⼿册
  <small>从新⼿到冠军的实践之路</small>
</h2>
<h3>为什么要编写这本⼿册？</h3>
<p>
  在辅导之前第⼀期线上班时，全栈营运营组从同学们的⼼得⾥发现⼀件事。很多同学其实在单个作业都具备了实战能⼒，
  但是并不知道如何充分发挥⾃⼰的实⼒。比赛完毕，往往在翻阅过去的教程时，才发现⾃⼰其实可以做得更好，很多秘诀，
  在教程上其实都已经有详细载明了。在观看别⼈的最终进度成果时，才发现⾃⼰离冠军就差那么⼏步路。多⽀撑⼏天，赛果就不⼀样了。
</p>
<p>
  全栈营官⽅也⼀直思索课程，以及比赛结果怎么能够优化呢？
</p>
