<div class="landing-page">
  <div class="wrapper background-blue">
    <div class="header header-filter">
      <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h1 class="title">JD Store 参赛⼿册</h1>
          <h4 class="slogan">开启从新⼿到冠军的实践之路</h4>
          <br/>
          <%= link_to sections_path, class: "btn btn-danger btn-lg btn-round btn-raised" do %>
          <%= fa_icon("play", text: "开始冠军之路") %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="main main-raised">
      <div class="section text-center section-head">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="title">为什么要编写这本⼿册</h2>
            <h5 class="description">
              在辅导之前第⼀期线上班时，全栈营运营组从同学们的⼼得⾥发现⼀件事。
              <br/>
              很多同学其实在单个作业都具备了实战能⼒，但是并不知道如何充分发挥⾃
              <br/>
              ⼰的实⼒。比赛完毕，往往在翻阅过去的教程时，才发现⾃⼰其实可以做得
              <br/>
              更好，很多秘诀，在教程上其实都已经有详细载明了。在观看别⼈的最终进
              <br/>
              度成果时才发现⾃⼰离冠军就差那么⼏步路。多⽀撑⼏天，赛果就不⼀样了
            </h5>
          </div>
        </div>
      </div>

      <div class="section section-features">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-1">
              <div class="section-description">
                <h2 class="title">优化比赛结果</h2>
                <h5 class="description">
                  仅仅有工具还不够，还要知道如何按顺序用。
                  <br><br>知道还要做到，遇到什么问题，就用什么解法。
                  <br><br>了解自己的进度，防止发生：以为自己很落后，然后在重点线前放弃的情况。
                </h5>
              </div>
            </div>

            <div class="col-md-6">
              <div class="image-container">
                <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1fg02h3qy53j31b30z1wi9.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section section-features">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-md-offset-1 col-md-push-6">
              <div class="section-description">
                <h2 class="title">按「图」索骥</h2>
                <h5 class="description">这是⼀张「地图」，总结了大赛的所有学习资料。
                  <br><br>只要按照这张「地图」实践，参赛成果将会有非常⼤的提升。
                  <br><br>使用这张「地图」随时检查自己的进度，了解自己的成长情况。
                </h5>
              </div>
            </div>
            
            <div class="col-md-6 col-md-pull-5">
              <div class="image-container">
                <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1fg02glp0h3j310b0m5jvk.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="section section-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title text-center">马上开始实践之路</h2>
              <h4 class="description text-center">祝你顺利得到⼤赛冠军！</h4>
              <div class="row">
                <div class="text-center">
                  <%= link_to sections_path, class: "btn btn-danger btn-round" do %>
                  开始冠军之路
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
