/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require material_icons
 *= require bootstrap-tagsinput
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "material-kit";
 @import "customize";
 // 固定位置的消息通知
 .alert-fixed {
   position: fixed; // 必须有这个属性
   top: 0px;
   left: 0px;
   width: 100%;
   z-index: 10;
   border-radius: 0px;
 }

 .alert-fixed b {
   font-size: 1em;
 }
 // 前端界面通知
 .my-alert {
   top: 71px;
 }
 // 导航条
 .navbar-info .navbar-brand {
  .logo {
    font-weight: 400;
    font-size: 1.4em;
  }
  color: #FFF;
}
// 下拉菜单文字
.navbar .navbar-nav > li > a {
  font-size: 1em;
  letter-spacing: 1px;
}
// 链接演示
a {
  font-weight: 400;
  color: #333333;
}
a:hover, a:focus {
  color: #03a9f4;
  text-decoration: none;
}
 // footer置底代码
 html {
   height: 100%;
   box-sizing: border-box;
 }

 *,
 *:after,
 *:before {
   box-sizing: inherit;
 }

 body {
   margin: 0;
   position: relative;
   min-height: 100%;
   background-color: #deeff5;
 }
 // 内容区
 .my-content {
   margin: 101px 30px 0;
   padding-bottom: 60px;
 }
 // 内容区带悬浮效果
 .my-content-raised {
   margin: 101px 30px 0;
   padding-bottom: 60px;
   border-radius: 6px;
   box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
 }
 //---------Footer---------
 footer {
   position: absolute;
   z-index: 2;
   color: #FFF;
   width: 100%;
   bottom: 0;
   height: 80px;
   margin-top: -80px;
   font-size: 1.2em;
   padding-top: 30px;
   background-color: #03a9f4;

   a {
     color: #FFF;
   }

   a:hover,
   a:focus {
     color: #DDDDD;
     text-decoration:none;
   }
 }
